@model StackUnderflow.Models.UserViewModel

@{
    ViewBag.Title = "EditUser";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <p>
                This is our StackUnderflow Page. Questions and Answers can be posted here. Enjoy!
            </p>
        </div>
    </section>
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>UserViewModel</legend>

        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
            @Html.LabelFor(model => model.username)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.username)
            @Html.ValidationMessageFor(model => model.username)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.registered)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.registered)
            @Html.ValidationMessageFor(model => model.registered)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.isAdmin)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.isAdmin)
            @Html.ValidationMessageFor(model => model.isAdmin)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
