@model StackUnderflow.Models.HomeViewModel

@{
    ViewBag.Title = "Questions";
}
@section featured {
    
    <section class="featured">
        <div class="content-wrapper">
            
            <h4 style="color: green"> @TempData["Info"] </h4>
            <h4 style="color: red"> @TempData["Error"] </h4>
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <p>
                This is our StackUnderflow Page. Questions and Answers can be posted here. Enjoy!
            </p>
        </div>
    </section>
}
<table>
    <tr>
        <td style="width:600px;">
            @using (Html.BeginForm("Search", "Home", FormMethod.Get))
            {
                <div>Question:&nbsp;</div><input id="question" type="text" name="query" size="20" maxlength="20" />
                <input id="Search" type="submit" value="Search" />
            }

            <div id="questionsPartial">
                @Html.Partial("QuestionsPartial", Model.questions)
            </div>
            <br />
            <p>@Html.ActionLink("Ask a Question", "Ask")</p>
        </td>
        <td style="width:300px;">
            
            <br />
            @if (Model.currentUser != null && Model.currentUser.isAdmin)
            {
                @Html.Partial("Admin", Model.users);
            }
        </td>
    </tr>
</table>

<script>
    @*$(document).ready(function () {
        $('#Search').click(function () {
            $.ajax({
                url: '@Url.Action("Search", "Home")',
                data: { query: $('#question').val },
                cache: false,
                type: "GET",
                dataType: "html",
                success: function (data, textStatus, XMLHttpRequest) {
                    SetData(data);
                }
            });
            function SetData(data) {
                $("#questionsPartial").html(data); // HTML DOM replace
            }
        });
    });*@
</script>