@model IEnumerable<StackUnderflow.Models.QuestionViewModel>
<table style="table-layout:fixed; width:100%;">
    <tr>
        <th style="width:200px;">Question</th>
        <th style="width:300px;">Content</th>
        <th style="width:100px;">Author</th>
        <th style="width:180px;">Created</th>
        <th></th>
    </tr>
    @foreach(var item in Model) {
    <tr>
        <td style="word-wrap:break-word">@Html.DisplayFor(modelItem => item.title)</td>
        <td style="word-wrap:break-word">@Html.DisplayFor(modelItem => item.content)</td>
        <td style="width:100px;">@Html.DisplayFor(modelItem => item.author)</td>
        <td style="width:180px;">@Html.DisplayFor(modelItem => item.created)</td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.id })
        </td>
    </tr>
    }
</table>